# Environment variables for development
NODE_ENV=

# JWT secret key for signing tokens
JWT_SECRET=

# Server configuration
PORT=
MONGO_URL=
CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=
FRONTEND_URL=

# Email configuration
EMAIL_USER=
EMAIL_PASS=